/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* icon fonts */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('roboto/roboto-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
    url('roboto/roboto-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'octicons';
  src: url('octicon/octicons.woff') format('woff'),
       url('octicon/octicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* css */

body {
    font-family: 'Roboto', sans-serif;
}

html,body,#app,#body {
  height:100%;
  margin:0;
}

#body {
    display: flex;
    flex-flow: column;
}

.titlebar {
    background: #0371BE;
    color: #fff;
    height: 32px;
    padding: 5px;
}
.titlebar .container {
    display: flex;
}
.titlebar img {
    height: 26px;
}
.titlebar h3 {
    line-height: 32px;
    padding: 0 0 0 5px;
    font-size: 22px;
}
#gist {
    width:100%;
    text-align: center;
    margin: 0 0 0 -145px;
    padding: 0 0 0 0;
}
#txtGist {
    width: 420px;
    padding: 4px 8px;
    border: none;
    font-size: 14px;
    line-height: 20px;
    color: #f7f7f7;
    background: #0488E4
}
#txtGist::-webkit-input-placeholder {
    color: #f7f7f7 !important;
}
#txtGist::-moz-placeholder {  /* Firefox 19+ */
    color: #f7f7f7 !important;  
}
 #txtGist:-ms-input-placeholder {  
    color: #f7f7f7 !important;  
}

#content {
    background: #fff;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#footer {
    background: #0371BE;
    /*background: #01215A;*/
    min-height: 40px;
}


#ide {
    display: flex;
    background: #008080;
    height: 100%;
}

.editor {
    display: flex;
    flex-flow: column;
    flex: 1;
    overflow: auto;
    color: #000;
}
.preview {
    flex: 1;
    background: #F7F7F7;
    border-left: 1px solid #ddd;
    overflow: auto;
}

#tabs {
    display: flex;
    flex-flow: row;
    background: #01215A;
    padding: 8px 0 0 30px;
    min-height: 22px;
}
#tabs div {
    padding: 5px 8px;
    margin: 0 4px 0 0;
    background: #0371BE;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
#tabs div.active {
    background: #fff;
    color: #444;
    margin-bottom: -1px;
    cursor: auto;
}

#run {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px;
}
#run i {
    font-size: 60px;
    cursor: pointer;
    color: #01215A;
}
#run i:hover {
    color: #0371BE;
}
#run i.disabled, #run i.disabled:hover {
    cursor: auto;
    color: #999;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* Custom */

::selection {
    background: #0371BE; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #0371BE; /* Gecko Browsers */
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
