#btnCollections {
    position: absolute;
    top: 0;
    margin: 0px 0 0 45px;
    padding: 5px 5px 0 5px;
    color: #6ab5e8;
    font-size: 30px;
    height: 37px;
    cursor: pointer;
}
#btnCollections:hover {
    color: #cef;
}
#btnCollections.active {
    color: #f7f7f7;
    background: #01215A;
}


#collection {
    background: #fff;
}

#collection-header {
    background: #01215A;
    text-align: left;
    color: #fff;
    padding: 4px 12px;
    line-height: 24px;
}
#btnHome {
    color: #fff;
    font-size: 17px;
    vertical-align: middle;
    margin: -2px 6px 0 -5px;
    cursor: pointer;
}

#collection-body {
    overflow-y: auto;
    overflow-x: hidden; 
    width: 50%;
    position: absolute;
    top: 74px;
    bottom: 41px;
}

#livelist {
    font-size: 14px;
    line-height: 22px;
    background: #f7f7f7;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
#livelist h3 {
    font-size: 14px;
    line-height: 24px;
    background: #0371BE;
    color: #f7f7f7;
    padding: 2px 8px;
}
#livelist a {
    padding: 2px 8px;
    display: block;
    text-decoration: none;
    color: #444;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#livelist a:hover {
    text-decoration: underline;
}
.ipad #livelist {
    display: none;
}

#markdown {
    line-height: 20px;
    font-size: 16px;
    color: #444;
    padding: 0 0 0 30px;
    max-width: 750px;
}
.ipad #markdown {
    font-size: 90%;
}
#markdown h1, #markdown h2, #markdown h3, #markdown h4, #markdown h5, #markdown h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}
.ipad #markdown h1, .ipad #markdown h2, .ipad #markdown h3, .ipad #markdown h4, .ipad #markdown h5, .ipad #markdown h6 {
    margin-top: 18px;
    margin-bottom: 12px;
}
#markdown h1, #markdown h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
}
#markdown h3 { font-size: 1.25em; }
#markdown h4 { font-size: 1em; }
#markdown h5 { font-size: 0.875em; }
#markdown h6 { font-size: 0.85em; color: #777; }
#markdown p {
    margin: 0 0 16px 0; 
}
#markdown strong, #markdown b {
    font-weight: bold; 
}
#markdown ul, #markdown ol {
    padding-left: 2em;
    margin: 0 0 16px 0; 
}
#markdown ul {
    list-style-type: disc;
}
#markdown ol {
    list-style-type: decimal;
}
#markdown a {
    color: #428bca;
    text-decoration: none;
}
#markdown a:hover {
    color: #2a6496;
}
#markdown pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 16px;
    color: #333;
}
#markdown code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #f7f7f7;
    font-size: 13px;
    padding: 0 2px;
}
#markdown pre>code {
    padding: 0;
}
#markdown code::before, #markdown code::after {
    letter-spacing: -0.2em;
    content: "\00a0";
}
#markdown pre>code::before, #markdown pre>code::after {
    letter-spacing: 0;
    content: "";
}
#markdown blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}
#markdown hr {
    border: none;
    border-bottom: 1px solid #eee;
}