/* bootstrap extensions */

.voffset { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/*
@media (max-width: 991px) { 
	[class*="col-"]:not(:first-child){
		margin-top: 15px;
	}
}
*/
.gi1{font-size: 1em;}
.gi11{font-size: 1.1em;}
.gi12{font-size: 1.2em;}
.gi13{font-size: 1.3em;}
.gi14{font-size: 1.4em;}
.gi15{font-size: 1.5em;}
.gi16{font-size: 1.6em;}
.gi17{font-size: 1.7em;}
.gi18{font-size: 1.8em;}
.gi19{font-size: 1.9em;}
.gi2{font-size: 2em;}
.gi3{font-size: 3em;}
.gi4{font-size: 4em;}
.gi5{font-size: 5em;}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}
