<div class="row"> 
    <div class="form-group"> 
        <div class="row"> 
            <div class="form-group"> 
                <div class="col-md-6"> 
                    <textarea id="main_{0}" class="form-control role-gisttext" rows="10" required="required"></textarea>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-5">
                <span id="results_{0}"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-5">
                    <button id="run_{0}" type="button" class="btn btn-primary role-run">Run</button>
                    <button id="cancel_{0}" type="button" class="btn btn-primary role-cancel" style="display:none">Cancel</button>
                </div>
                <div class="col-md-1">
                    <span id="status_{0}" class="role-status"></span>
                </div>
            </div>
        </div>
    </div>
</div>

